
.cardLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 250px;
    height: 150px;
    border: 1px solid var(--ifm-text-color);
    box-sizing: border-box;
    border-radius: 8px;
    margin: 1rem 1rem;
}

.cardLink:hover {
    cursor: pointer;
    box-shadow: 0px 12px 25px rgba(34, 35, 140, 0.07);
    text-decoration: none;
}

.cardLinkText {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-top: 1rem;
    text-align: center;
    color: var(--ifm-text-color);
    text-decoration: none;
}


