/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400&display=swap");
/* You can override the default Infima variables here. */

*,
main {
  font-family: "Nunito Sans", sans-serif !important;
}
:root {
  --ifm-color-primary: #250377;
  --ifm-color-primary-dark: #200264;
  --ifm-color-primary-darker: #200264;
  --ifm-color-primary-darkest: #200264;
  --ifm-color-primary-light: #250377;
  --ifm-color-primary-lighter: #250377;
  --ifm-color-primary-lightest: #250377;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-bg-gradient: linear-gradient(
    279.5deg,
    rgba(231, 222, 255, 0.4) 2.09%,
    rgba(233, 247, 255, 0.4) 100%
  );
  --ifm-text-color: #200264;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #f4bb15;
  --ifm-color-primary-dark: #f4bb15;
  --ifm-color-primary-darker: #f4bb15;
  --ifm-color-primary-darkest: #f4bb15;
  --ifm-color-primary-light: #f4bb15;
  --ifm-color-primary-lighter: #f4bb15;
  --ifm-color-primary-lightest: #f4bb15;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-bg-gradient: linear-gradient(
    279.5deg,
    rgba(231, 222, 255, 0.4) 2.09%,
    rgba(233, 247, 255, 0.4) 100%
  );
  --ifm-text-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .indexSearch .DocSearch {
    width: 25rem;
  }
  .indexSearch .DocSearch {
    width: 90% !important;
  }
}

/* SEARCH */

.indexSearch .DocSearch {
  width: 40% !important;
  padding: 24px 16px !important;
}
