name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build_artifact:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Setup Algolia Access
      run: |
           sed -i 's/<ENV_ALGOLIA_INDEX>/${{ vars.ENV_ALGOLIA_INDEX }}/g' docusaurus.config.js
           sed -i 's/<ENV_ALGOLIA_APP_ID>/${{ secrets.ENV_ALGOLIA_APP_ID }}/g' docusaurus.config.js
           sed -i 's/<ENV_ALGOLIA_READ_KEY>/${{ secrets.ENV_ALGOLIA_READ_KEY }}/g' docusaurus.config.js

    - name: Install Dependencies
      run: yarn

    - name: Build
      run: yarn build

    - name: Compress
      run: tar -czf build.tar.gz build/
    
    - name: Archive build
      uses: actions/upload-artifact@v4
      with:
        name: yarn-${{ github.sha }}
        path: build.tar.gz

  deploy_dev:
    needs: build_artifact
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Download artifact
      uses: actions/download-artifact@v3
      with:
        name: yarn-${{ github.sha }}
    
    - name: Unpack artifact
      run: tar -xvf build.tar.gz

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Sync to S3
      run: |
           aws s3 sync build/ s3://${{ vars.S3_BUCKET }} --delete --exclude assets/images/* --exclude assets/videos/*
           aws s3 sync build/ s3://${{ vars.S3_BUCKET }} --size-only --delete

    - name: Invalidate CF cache
      run: |
           INVAL_ID=$(aws cloudfront create-invalidation --distribution-id ${{ vars.CF_DISTRO }} --paths "/*" | jq -r .Invalidation.Id )
           aws cloudfront wait invalidation-completed --distribution-id ${{ vars.CF_DISTRO }} --id $INVAL_ID

  deploy_stg:
    needs: deploy_dev
    runs-on: ubuntu-latest
    environment: stg
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Download artifact
      uses: actions/download-artifact@v3
      with:
        name: yarn-${{ github.sha }}
    
    - name: Unpack artifact
      run: tar -xvf build.tar.gz

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Sync to S3
      run: |
           aws s3 sync build/ s3://${{ vars.S3_BUCKET }} --delete --exclude assets/images/* --exclude assets/videos/*
           aws s3 sync build/ s3://${{ vars.S3_BUCKET }} --size-only --delete

    - name: Invalidate CF cache
      run: |
           INVAL_ID=$(aws cloudfront create-invalidation --distribution-id ${{ vars.CF_DISTRO }} --paths "/*" | jq -r .Invalidation.Id )
           aws cloudfront wait invalidation-completed --distribution-id ${{ vars.CF_DISTRO }} --id $INVAL_ID

  deploy_prod:
    needs: deploy_stg
    runs-on: ubuntu-latest
    environment: prod
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Download artifact
      uses: actions/download-artifact@v3
      with:
        name: yarn-${{ github.sha }}

    - name: Unpack artifact
      run: tar -xvf build.tar.gz

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1 

    - name: Sync to S3
      run: |
           aws s3 sync build/ s3://${{ vars.S3_BUCKET }} --delete --exclude assets/images/* --exclude assets/videos/*
           aws s3 sync build/ s3://${{ vars.S3_BUCKET }} --size-only --delete

    - name: Invalidate CF cache
      run: |
           INVAL_ID=$(aws cloudfront create-invalidation --distribution-id ${{ vars.CF_DISTRO }} --paths "/*" | jq -r .Invalidation.Id )
           aws cloudfront wait invalidation-completed --distribution-id ${{ vars.CF_DISTRO }} --id $INVAL_ID


